.music-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .item {
    width: 50%; /* 2 items per row */
    box-sizing: border-box;
    padding: 5px;
  }
  .item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #141313;
  }
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: black;
    font-size: 17px;
  }  
  li {
    color: white;
  }
  h1{
    
  }